body{
    background-color: lightcyan;
    width: 1200px;
    margin: 50px auto;
    height: 1000px;
}
html{
    text-align: center;
    background-color: burlywood;
}
button{
    color: rgb(102, 17, 17);
    background-color: rgb(177, 112, 66);
}
img{
    border: 0px dotted lightcyan;
}